body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}
#controls {
  margin: 10px 0;
}
textarea {
  width: 800px;
  height: 400px;
  font-family: monospace;
  resize: none;
  margin-top: 20px;
}
button {
  margin: 0 5px;
}